//================================
// @@ ++ FIRM NAME
//================================

.firm-name-wrap {
  display: block;
  &.firmname-hide {
    display: none;
    @include mQueryMin(767px){
      display: block;
    }
  }
}

.firm-name {
  color: $main-text;
  a {
    color: $main-text;
    text-decoration: none;
  }

}
