//================================
// @@ ++ MENU
//================================

.menu-wrap {
  justify-self: end;
}

.menu-show-btn {
  display: block;
  color: $menu-color;
  cursor: pointer;
  &:hover {
    color: $menu-color-hover;
  }
  &.hidden {
    display: none;
  }
}
.menu {
  display: none;
  li {
    display: inline-block;
    padding-right: 6px;
    @include mQueryMin(321px) {
      padding-right: 15px;
    }
    &:last-child {
      padding-right: 0;
    }
    a {
      text-decoration: none;
      color: $main-text;
      &:hover {
        color: $menu-color-hover;
      }
    }
  }
  &.menu-visible {
    display: block;
  }
}