//================================
// @@ ++ MENU
//================================

@supports (display: grid) {
  .menu-wrap {
    justify-self: end;
  }
}

.menu-show-btn {
  display: block;
  color: $menu-color;
  cursor: pointer;
  &:hover {
    color: $menu-color-hover;
  }
  &.hidden {
    display: none;
  }
}

.menu {
  display: none;
  li {
    display: inline-block;
    padding-right: 6px;
    @include mQueryMin(321px) {
      padding-right: 15px;
    }
    &:last-child {
      padding-right: 0;
    }
    a {
      text-decoration: none;
      color: $main-text;
      &:hover {
        color: $menu-color-hover;
      }
    }
  }
  &.menu-visible {
    display: block;
  }
}

// E from MENU to hamburger

.bars {
  content: '';
  width: 12px;
  height: 1px;
  display: inline-block;
  background: $menu-color;
}

.e-from-menu,
.e-from-menu::before,
.e-from-menu::after {
  @extend .bars;
}

.e-from-menu {
  margin-top: -19px;
  transform: translateY(19px);
}

.e-from-menu::before {
  transform: translateY(-8px);
}

.e-from-menu::after {
  transform: translateY(-19px);
}
