//================================
// @@ ++ HEADER
//================================

.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  &.hide-header-grid {
    grid-template-columns: 1fr;
    @include mQueryMin(767px) {
      grid-template-columns: 1fr 3fr;
    }
  }
}