//================================
// @@ ++ HOME PAGE
//================================

body {
  &.home {
    background: $front-page-bcg;
    @supports (display: grid) {
      .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto;
      }
      .container {
        min-height: 100vh;
      }
    }
  }
}



