//================================
// @@ ++ HOME PAGE
//================================

body {
  &.home {
    background: $front-page-bcg;

  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;
  min-height: 100vh;
}

