//================================
// @@ ++ ODD SUMMIT SECTION
//================================

.odd-container {
  background: $summits-odd-bcg;
  color: $f-color-odd;
  h1, h2, a {
    color: $f-color-odd;
  }
}

//.summit-discription-wrap {
//  &:after {
//    background: set-color-text($f-color-odd);
//  }
//}