//================================
// @@ ++ ODD SUMMIT SECTION
//================================

.odd-container {
  background: $summits-odd-bcg;
  color: $f-color-odd;
  h1, h2 {
    color: $f-color-odd;
  }
}